.photo{
    position: absolute;
    width: 50%;

}
.icons{
    position: relative;
    top: 20rem;
    display: flex;
    gap: 31rem;
    margin-left: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .photo {
      display: none;
    }
  }